.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
&__wrapper {
  display: flex;
  align-items: baseline;
}
&__medialist {
  display: flex;
  padding: 0px;
  margin: 0px;
}
&__social-link {
  margin-left: 70px;
}
&__social-title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}
&__link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  background-color: var(--accent-color);
}
}
&__social-item:not(:last-child) {
  margin-right: 10px;
}
&__icon {
  fill: var(--main-background-color);
}

&__address-link {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: var(--accent-color);
}
}

&__item:not(:last-child) {
  margin-bottom: 9px;
}
&__contact {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: var(--accent-color);
}
}

&__phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: var(--accent-color);
}
}

&__form {
  display: flex;
  margin-left: 93px;
  position: relative;
  width: 570px;
  height: 86px;
}
&__field {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  width: 358px;
}
&__label {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}
&__input {
  position: absolute;
  top: 36px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: var(--main-background-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus{
  border-color: var(--accent-color);
}
&::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
}
&__button {
  position: absolute;
  top: 36px;
  right: 0;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
}
&__button-icon {
  position: absolute;
  right: 28px;
  fill: var(--main-background-color);
  top: 50%;
  transform: translateY(-50%);
}
}