.header {  
  border-bottom: 1px solid #ececec;
  &__wrapper {
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;  
  display: flex;
  align-items: center;
  @media screen and (min-width:768px) {
    height: 80px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width:1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
 }
&__main-nav {
  display: none;
  @media screen and (min-width:768px) {
    display: flex;
  }
}
}
.site-nav {
  display: flex;
  margin-left: 88px;
  @media screen and (min-width: 1200px) {
    margin-left: 93px; 
  }
&__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-textcolor);
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  &:hover,
  &:focus {
  color: var(--accent-color);
}
  &--active {
  color: #2196f3;
}
 &--active::after {
  content: "";
  background: var(--accent-color);
  width: 100%;
  height: 4px;
  position: absolute;
  top: auto;
  bottom: -23px;
  left: 0;
  border-radius: 2px;
}
}
&__item:not(:first-child){
  margin-left: 50px;
}
}
 
.contact-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-left: auto;
  }  
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }  
  @media screen and (min-width: 1200px){
    &__item:not(:first-child){
      margin-left: 50px;
     }
  }

&__link {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--second-textcolor);
  @media screen and (min-width: 1200px){
    font-size: 14px;
}
  &:hover,
  &:focus {
  color: var(--accent-color);
}
}
&__icon {
  fill: currentColor; /* наследует цвет от родительской ссылки contact*/
  margin-right: 8px;
  @media screen and (min-width: 1200px){
    margin-right: 10px;
}
}
}
.menu-toggle {
  background-color: #fff;
  padding: 0;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border-color: transparent;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
}