.menu{
  width: 1200px;
  padding: 0px 15px;
 &__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
&__button {
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--main-textcolor);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}  
} 
  &__item:not(:last-child) {
  margin-right: 8px;
}
}

.portfolio {
  background-color: var(--main-background-color);
&__list {
  display: flex;
  flex-wrap: wrap;
}
&__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  background: var(--main-background-color);
&:nth-child(3n + 3) {
  margin-right: 0px;
}
&:nth-child(3n + 1) {
  margin-left: 0px;
}
&:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}  
}
&__wrapper {
  position: relative;
  overflow: hidden;
}

&__description {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  bottom: 0;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .portfolio__link:hover &,
.portfolio__link:focus & {
  transform: translateY(0);
}
}  
&__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
&:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
}
&__img {
  margin: 0px;
  display: block;
}
}

.portfolio-card {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
 &__title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-textcolor);
}
&__description {
  margin: 0px;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--second-textcolor);
}
&__title--high {
  text-transform: uppercase;
} 
}

